<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SiteUrl" value="http://siteurl" />
    <add key="AccountName" value="user@domain.com" />
    <add key="AccountPwd" value="password" />
    <add key="ListName" value="Sample List" />
    <add key="LookupListName" value="Lookup List" />
    <add key="LookupFieldName" value="Title" />
    <add key="LookupFieldType" value="Text" />
  </appSettings>
</configuration>